<div class="admin-wrapper">
  <h2 class="admin-header">🏢 Admin Control Panel</h2>
  <div class="admin-tabs-section">
    <p-tabView class="custom-tabview">
      <p-tabPanel header="Add Team">
        <app-add-team></app-add-team>
      </p-tabPanel>

      <p-tabPanel header="Add Match">
        <app-add-match></app-add-match>
      </p-tabPanel>

      <p-tabPanel header="Update Score">
        <app-update-score></app-update-score>
      </p-tabPanel>

      <p-tabPanel header="Add Announcement">
        <app-add-announcement></app-add-announcement>
      </p-tabPanel>

      <p-tabPanel header="Team Reveal">
        <app-team-reveal></app-team-reveal>
      </p-tabPanel>

      <p-tabPanel header="Upload Photos">
        <app-upload-photo></app-upload-photo>
      </p-tabPanel>
    </p-tabView>
  </div>
  
</div>
