<div class="reveal-page">
  <h1 class="title">AVK Grand Team Reveal 🎉</h1>
  <div class="reveal-buttons">
    <button
      *ngFor="let team of teams; index as i"
      (click)="revealTeam(i)"
      [disabled]="activeTeamIndex === i"
    >
      🎬 Reveal {{ team.name }}
    </button>
  </div>
 
  <div class="team-display" *ngIf="activeTeamIndex !== null">
    <h2 class="team-name">{{ teams[activeTeamIndex].name }}</h2>

    <audio id="bgm-{{ activeTeamIndex }}" preload="auto">
      <source src="music/background-inspire-epic.mp3" type="audio/mpeg" />
    </audio>

    <div class="players">
      <div
        class="player-card"
        *ngFor="let player of teams[activeTeamIndex].players.slice(0, revealedPlayerCount); index as p"
        [style.animationDelay]="p * 100 + 'ms'"
      >
        <img [src]="player.image" [alt]="player.name" />
        <div class="player-name">{{ player.name }}</div>
      </div>
    </div>
  </div>
</div>


<div style="visibility: hidden;">
  <audio id="bgm-1"  preload="auto" controls>
      <source src="music/jd_intro.mp3" type="audio/mpeg" />
  </audio>
  <audio id="bgm-2"  preload="auto" controls>
      <source src="music/salaar_bgm.mp3" type="audio/mpeg" />
  </audio>
  <audio id="bgm-3"  preload="auto" controls>
      <source src="music/lokiverse.mp3" type="audio/mpeg" />
  </audio>
  <audio id="bgm-4"  preload="auto" controls>
      <source src="music/Vidaamuyarchi-Bgm.mp3" type="audio/mpeg" />
  </audio>
  <audio id="bgm-5"  preload="auto" controls>
    <source src="music/daaku_maharaj.mp3" type="audio/mpeg" />
  </audio>
</div>